
.contentBox{
    background-color: var(--elementColor);
}

.pageContainer{
    width: 100%;
    background-image: url('/images/Site/Dashboard/CategoriaServicoDashboardBackground.avif');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 800px;
    align-content: space-evenly;
}

.nav-button {
    /* Remove a decoração de link padrão */
    text-decoration: none; 
    /* Define a cor de fundo e do texto */
    background-color: var(--btnBackgroundCtaColor);
    color: var(--btnAndInputCTATextColor);
    /* Adiciona um preenchimento para parecer um botão */
    padding: 12px 30px;
    border-radius: 5px 0 5px 0;
    font-weight: 800;
    cursor: pointer;
    /* Transição para um efeito suave ao passar o mouse */
    transition: background-color 0.2s ease;
    /* Centraliza o conteúdo (o ícone) */
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px; /* Espaço entre o ícone e o texto, se houver */
}

.nav-button:hover {
    background-color: var(--btnBackgroundCtaHoverColor);
}


/* Responsivo */
@media(max-width:1000px){

    .pageContainer{
        height: 100%;
    }


}

@media(max-width:500px){

    .dashboard-budget-table{
        display: block;
    }
}
