@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

:root {
    --mainColor: #1F4E79;
    --textMainColor: #FFFFFF;

    --elementColor: #003669;
    --elementHardColor: #002649;
    --elementHardColorAlpha: rgba(0, 38, 73, 0.884);

    --secondColor: #F5F5F5;
    --textSecondColor: #000000;

    --tableLine: #dddddddd;
    --tableDelete: #730000;
    --tableBackground1: #FFFFFF;
    --tableBackground2: #f3f3f3;

    --CTAColor: #ffe868;
    --CTAHoverColor: #ddc539;
    --CTATextColor: #000000;
    --btnAndInputCTATextColor: #000000;

    --btnAndInputTextColor: #FFFFFF;
    --btnAndInputTextColorHover: #000000;

    --textColor: #F5F5F5;
    --textColorHover: #000000;

    --btnAndInputBackgroundhover: #d7d7d7;
    --btnBackgroundCtaColor: #FFE868;
    --btnBackgroundCtaHoverColor: #DDC539;
    --font-title: "Bebas Neue", sans-serif, arial;
    --font-default: "Poppins", arial, sans-serif;
}

@keyframes glowCTA {
  0% { box-shadow: 0 0 5px rgba(221, 197, 57, 0.2); }
  50% { box-shadow: 0 0 15px rgba(255, 232, 104, 0.664); }
  100% { box-shadow: 0 0 5px rgba(221, 197, 57, 0.2); }
}

@keyframes glow {
  0% { box-shadow: 0 0 5px rgba(255, 255, 255, 0.2); }
  50% { box-shadow: 0 0 15px rgba(255, 255, 255, 0.664); }
  100% { box-shadow: 0 0 5px rgba(255, 255, 255, 0.2); }
}

@keyframes pulse {
    0% { transform: scale(1); opacity: 1; }
    50% { transform: scale(1.1); opacity: 0.8; }
    100% { transform: scale(1); opacity: 1; }
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(20px); }
    to { opacity: 1; transform: translateY(0); }
}


html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    min-height: 100vh;
    top: 0; 
    left: 0;
    width: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--mainColor);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%; /* ocupa o maximo de espaço disponivel */
    margin: 0 auto; /* equilibra e centraliza horizontalmente */
    padding: 0 15px; /* distancia itens e logo horizontalmente da borda da tela */
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1000px) {
    .container {
        width: 1000px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

@media (min-width: 1400px) {
    .container {
        max-width: 1320px;
    }
}


/* HEADER */
.header {
    width: 100%; /** ocupa a tela toda **/
    z-index: 4; /** fica acima do conteúdo. **/
    top: 0; /** gruda no topo da tela **/
    left: 0; /** gruda na parte esquerda **/
    background-color: var(--mainColor); /** cor de fundo **/
    position: fixed;  /* fixa no topo ao rolar a tela */
}

.header .container .flex {
    display: flex; /* coloca os filhos lado a lado (logo + menu) */
    justify-content: space-between; /* mantêm espaço entre logo e menu */
    align-items: center; /* centraliza verticalmente o conteúdo. */
    height: 80px; /* tamanho do header. Disclaimer importante, se você mexe nesse cara ele passa por cima do conteúdo principal o que não é nem um pouco bacana */
    /* valor padrao 80px */
}

.header .container .flex .flex-col1 {
    flex-basis: 30%;
    align-items: center;
}

.header .container .flex .flex-col1 .headerLogo {
    display: block;
    width: min-content;
}

.header .container .flex .flex-col1 .headerLogo img {
    width: 150px;
    height: auto;
}

.header .container .flex .flex-col2 {
    flex-basis: 70%;
    /* text-align: right; */
}

.header .container .flex .flex-col2 .header-menu {
    display: none;
}

.header .container .flex .flex-col2 .header-nav {
    display: block;
    position: relative;
    text-align: center;
    justify-items: end;
}

.header .container .flex .flex-col2 .header-nav .nav-ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.header .container .flex .flex-col2 .header-nav .nav-ul .nav-li{
    display: inline-block;
    margin: 0 5px;
}

.header .container .flex .flex-col2 .header-nav .nav-ul .nav-li .nav-btn {
    display: block;
    /* background-color: var(--btnAndInputBackground); */
    color: var(--btnAndInputTextColor);
    font-family: var(--font-default);
    font-size: 14px;
    text-decoration: none;
    border-radius: 5px;
    padding: 8px;
    transition: ease-in-out 0.3s;
}

.header .container .flex .flex-col2 .header-nav .nav-ul .nav-li .nav-btn:hover {
    background-color: var(--btnAndInputBackgroundhover);
    color: var(--btnAndInputTextColorHover);
    transform: translateY(-2px);
}

/* O container principal do dropdown */
.header .container .flex .flex-col2 .header-nav .nav-ul .nav-li .dropdown-container {
    position: relative;
    display: inline-block;
}

/* O link que ativa o dropdown */
.header .container .flex .flex-col2 .header-nav .nav-ul .nav-li .dropdown-container .user-menu {
    font-family: var(--font-default);
    font-size: 14px;
    background-color: var(--btnBackgroundCtaColor);
    color: var(--btnAndInputCTATextColor);
    padding: 8px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    transition: ease-in-out 0.3s;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

.user-menu:hover {
    background-color: var(--btnBackgroundCtaHoverColor) !important;
}

/* O ícone de seta para baixo */
.dropdown-arrow {
    margin-left: 8px;
    transition: transform 0.3s ease;
}

/* O menu que será exibido */
.dropdown-menu {
    display: none; /* Esconde o menu por padrão */
    position: absolute;
    right: 0; /* Alinha o menu com o lado direito do link */
    background-color: var(--btnBackgroundCtaColor);
    width: fit-content;
    z-index: 10;
    list-style-type: none;
    border-radius: 0 0 5px 5px;
}

/* Links dentro do menu */
.dropdown-menu li a {
    color: var(--btnAndInputCTATextColor);
    background-color: var(--btnAndInputBackground);
    padding: 8px;
    text-decoration: none;
    font-family: var(--font-default);
    font-size: 14px;
    display: block;
    transition: background-color 0.2s ease, color 0.2s ease;
}

.dropdown-menu li a:hover {
    background-color: var(--btnBackgroundCtaHoverColor);
}

.dropdown-menu li #lastBtn {
    border-radius: 0 0 5px 5px;
}

/* Easter egg gigatonico do GTA SA: Mostra o menu quando o mouse clica no contêiner */
.dropdown-container.active .dropdown-menu {
    display: block;
}

/* Rotação da seta quando o menu está visível */
.dropdown-container.active .dropdown-arrow {
    transform: rotate(180deg);
}

.dropdown-container.active .user-menu{
    border-radius: 5px 5px 0 0 !important;
}

main{
    padding-top: 80px; /* padding top para deixar o conteudo principal a mostra sem ficar embaixo do header. Disclaimer importante, se você mexe nesse cara ele fica por baixo do header o que não é nem um pouco bacana */
    /* valor padrao 80px */
    width: 100%;
    position: relative;
}

.dashboard-section{
    display: flex;
    flex-direction: column;
    justify-self: center;
}

.dashboard-container{
    margin: 24px;
    max-width: 900px;
    border-radius: 5px;
}

.dashboard{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 16px;
    gap: 16px;
}

.search-form{
    display: flex;
    flex-direction: column;
    margin-top: 5px;
}

.text-form{
    color: var(--textColor);
    font-family: var(--font-default);
    font-size: 14px;
}

.search-form-div{
    display: flex;
    flex-direction: column;
    margin-top: 5px;
}

.search-group{
    margin-top: 5px;
    display: inline-flex;
    align-items: center;
}

.input_form{
    font-family: var(--font-default);
    color: var(--btnAndInputTextColor);
    background-color: var(--elementHardColor);
    padding: 3px;
    border: 5px solid var(--CTAColor);
    border-radius: 5px 0 0 5px;
    transition: ease-in-out 0.3s;
    height: 34px;
}

.input_form:hover{
    border: 5px solid var(--CTAHoverColor);
}

.input_form::placeholder{
    font-family: var(--font-default);
    color: var(--btnAndInputTextColor);
}

.select_form{
    font-family: var(--font-default);
    color: var(--btnAndInputTextColor);
    background-color: var(--elementHardColor);
    padding: 3px;
    border: 5px solid var(--CTAColor);
    transition: ease-in-out 0.3s;
    height: 34px;
}

.select_form:hover{
    border: 5px solid var(--CTAHoverColor);
}

.select_form::placeholder{
    font-family: var(--font-default);
    color: var(--btnAndInputTextColor);
}

.btn_form{
    background-color: var(--btnBackgroundCtaColor);
    color: var(--btnAndInputCTATextColor);
    font-family: var(--font-default);
    width: fit-content;
    height: 34px;
    font-size: 14px;
    border-radius: 0 5px 5px 0;
    padding: 8px;
    border: 0;
    cursor: pointer;
    align-self: center;
    transition: ease-in-out 0.3s;
    animation: glowCTA 2s infinite ease-in-out;
}

.btn_form:hover{
    background-color: var(--btnBackgroundCtaHoverColor);
}

.dashboard-title{
    font-family: var(--font-default);
    font-size: 18px;
    color: var(--textColor);
    text-align: left;
}

.dashboard-budget-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 16px;
    width: 100%;
    background-color: var(--tableBackground1);
    border-radius: 5px;
    /* Adiciona a barra de rolagem e define a altura máxima */
    max-height: 300px;
    overflow-y: auto;
    overflow-x: auto;
    box-shadow: 0 0 20px var(--elementHardColorAlpha);
}

.dashboard-budget-table thead tr {
    font-family: var(--font-default);
    background-color: var(--elementHardColor);
    color: var(--textColor);
    text-align: left;
    font-weight: bold;
}

/* Remove a borda das células e ajusta o padding */
.dashboard-budget-table th,
.dashboard-budget-table td {
    padding: 12px 15px;
}

.dashboard-budget-table td{
    font-family: var(--font-default);
}

.dashboard-budget-table td a{
    text-decoration: none;
}

.dashboard-budget-table tbody tr {
    border-bottom: 1px solid var(--tableLine);
    cursor: pointer;
}

.dashboard-budget-table tbody tr:hover{
    background-color: var(--CTAColor);
}

.dashboard-budget-table tbody tr:nth-of-type(even) {
    background-color: var(--tableBackground2);
}

.dashboard-budget-table tbody tr:nth-of-type(even):hover {
    background-color: var(--CTAColor);
}

.dashboard-budget-table tbody tr:last-of-type {
    border-bottom: 2px solid var(--elementHardColor);
}

.dashboard-budget-table tbody tr td .btn_delete{
    color: var(--tableDelete);
    cursor: pointer;
}

.btn-add{
    background-color: var(--btnBackgroundCtaColor);
    color: var(--btnAndInputCTATextColor);
    font-family: var(--font-default);
    font-size: 14px;
    text-decoration: none;
    border-radius: 5px;
    padding: 8px;
    transition: ease-in-out 0.3s;
    width: fit-content;
    animation: glowCTA 2s infinite ease-in-out;
}

.btn-add:hover{
    background-color: var(--btnBackgroundCtaHoverColor);
}

#fullscreen-container{
    display: none;
    z-index: 11;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    align-items: center;
    justify-content: center;
}

#fullscreen-container #fullscreen-details{
    max-width: 90%;
    max-height: 90%;
    width: 60%;
    display: block;
    z-index: 12;
    border-radius: 5px;
}

.title-details{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px;
}

.text-information{
    font-family: var(--font-title);
    font-size: 32px;
    color: var(--textColor);
    font-synthesis: none;
}

.closeIcon{
    color: var(--btnBackgroundCtaColor);
    font-size: x-large;
    transition: ease-in-out 0.3s;
    cursor: pointer;
}

.closeIcon:hover{
    color: var(--btnBackgroundCtaHoverColor);
}

.icon{
    color: var(--btnBackgroundCtaColor);
    font-size: x-large;
    animation: pulse 2s infinite ease-in-out;
}

.container-details{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    border-radius: 0 0 5px 5px;
    background-color: var(--elementHardColor);
}

/*
.container-details: Isso seleciona o elemento pai que envolve todos os seus itens de detalhe. É a nossa base.
:last-child: Este é um pseudo-seletor que encontra o último elemento de um grupo.
:not(:nth-child(2n)): Este é o truque para identificar o que é ímpar.
nth-child(2n) seleciona todos os elementos que são o 2º, 4º, 6º, etc. (ou seja, os elementos pares).
:not() inverte a seleção, pegando tudo que não é par. Ou seja, ele pega o 1º, 3º, 5º, 7º, etc. (os elementos ímpares).
.main-information:last-child: Por fim, esta parte seleciona o último item flexível (o div com a classe main-information) dentro do container que já passamos pelo filtro.
*/

/* Nova regra para lidar com o item ímpar */
.container-details .main-information:last-child:not(:nth-child(2n)) {
    flex-basis: 100% !important;
    width: 100%;
}

.main-information{
    background-color: var(--elementColor);
    /* Define a largura de cada item, permitindo 2 por linha em telas maiores */
    flex-basis: 50%; /* 50% menos metade do gap */
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    border: 5px solid var(--elementHardColor);
    gap: 5px;
    padding: 48px;
}

.content-group{
    display: flex;
    flex-direction: row;
    align-content: center;
    gap: 10px;
}

.text-details{
    font-family: var(--font-default);
    font-size: 22px;
    color: var(--textColor);
}

.small-text{
    font-family: var(--font-default);
    font-size: 18px;
    color: var(--textColor);
}


/* footer */

.footer{
    position: relative;
    background-color: var(--mainColor);
    /* background: linear-gradient(180deg, var(--secondColor), var(--mainColor)); */
    height: fit-content;
    padding: 20px 0;
    text-align: center;
    z-index: 3;
}

.footer img{
    width: 15%;
}

/* .footer a{
    color: var(--terciaryColor);
    font-size: 2.3em;
    width: 2.3em;
    text-decoration: none;
    margin: 15px;
    transition: all 0.3s;
}

.footer .footerClass .iconRedes a .itch-icon {
    display: inline-block;
    fill: var(--terciaryColor);
    transition: all 0.3s;

}

.footer .footerClass .iconRedes a:hover .itch-icon{
    fill: var(--accentHoverColor);
}

.footer a:hover{
    color: var(--accentHoverColor);
} */

.footer .iconRedes{
    display: flex;
    flex-wrap: wrap;
    line-height: 30px;
    color: var(--textColor);
    font-family: var(--font-default);
    align-items: center;
    justify-content: center;
}

.footer .description{
    line-height: 30px;
    color: var(--textColor);
    font-family: var(--font-default);
}

.footer .footerClass{
    text-align: center;
    margin: auto;
}

/* Personalização do Modal */
.modal-container{
    position: relative;
    z-index: 6;
}

.modal-container .modal{
    background-color: var(--mainColor);
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 6;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 25vw;
    height: auto;
    border-radius: 10px;
}
  
.modal-container .modal .modalContainerTitle{
    width: 100%;
    padding: 25px;
    border-radius: 10px 10px 0px 0px;
    background-color: var(--CTAColor);
}

.modal-container .modal .modalContainerTitle .modalTitle{
    font: 24px var(--font-default);
    color: var(--CTATextColor) !important;
}

.modal-container .modal .modalContainerMessage{
    width: 100%;
    padding: 25px;
}

.modal-container .modal .modalContainerMessage .modalMessage{
    font: 24px var(--font-default);
    color: var(--textColor) !important;
}
        
.modal-container .modal .modalButton{
    width: 100%;
    padding: 25px;
    border-radius: 0px 0px 10px 10px;
    background-color: var(--mainColor);
}

.modal-container .modal .modalButton button{
    padding: 10px;
    background-color: var(--btnBackgroundCtaColor);
    color: var(--btnAndInputCTATextColor);
    font: 18px var(--font-default);
    transition: ease-in-out 0.3s;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
}
            
.modal-container .modal .modalButton button:hover{
    background-color: var(--btnBackgroundCtaHoverColor);
}

.modal-container .modal .modalDualButton{
    display: flex;
    width: 100%;
    padding: 25px;
    border-radius: 0px 0px 10px 10px;
    background-color: var(--mainColor);
    justify-content: space-evenly;
}

.modal-container .modal .modalDualButton button{
    padding: 10px;
    background-color: var(--btnBackgroundCtaColor);
    color: var(--btnAndInputCTATextColor);
    font: 18px var(--font-default);
    transition: ease-in-out 0.3s;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
}
            
.modal-container .modal .modalDualButton button:hover{
    background-color: var(--btnBackgroundCtaHoverColor);
}

.modal-overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 5;
    backdrop-filter: blur(5px);
}

.dashboard-budget-table::-webkit-scrollbar,
::-webkit-scrollbar {
    width: 8px; /* Largura da barra */
}

/* Fundo da barra de rolagem */
.dashboard-budget-table::-webkit-scrollbar-track,
::-webkit-scrollbar-track {
    background: var(--elementHardColor); /* Cor de fundo */
}

/* Barra de rolagem */
.dashboard-budget-table::-webkit-scrollbar-thumb,
::-webkit-scrollbar-thumb {
    background: var(--CTAColor); /* Cor da barra */
    border-radius: 3px; /* Bordas arredondadas */
    transition: ease-in-out 1s;
}

/* Quando o usuário passa o mouse */
.dashboard-budget-table::-webkit-scrollbar-thumb:hover,
::-webkit-scrollbar-thumb:hover {
    background: var(--CTAHoverColor); /* Cor ao passar o mouse */
}

/* muda a cor da barra no FIREFOX */
.dashboard-budget-table::scrollbar-color,
::scrollbar-color{
    background: var(--CTAColor);
}

@media(max-width:1000px){

    /* Responsivo */

    .header .container{
        width: 90%;
        margin: auto;
    }

    .header .container .flex .flex-col1{
        flex-basis: 50%;
        display: flex;
        align-items: center;
    }

    .header .container .flex .flex-col1 .headerLogo img {
        width: 100px;
    }

    .header .container .flex .flex-col2 {
        align-content: center;
        flex-basis: 50%;
    }

    .header .container .flex .flex-col2 .header-menu {
        display: block;
        text-align: right;
        position: relative;
        top: 2.25px;
        font-size: 20px;
        color: var(--textColor);
    }

    .header .container .flex .flex-col2 .header-menu:hover {
        color: var(--accentHoverColor);
    }

    #fa-bars{
        transition: transform ease 0.3s;
    }

    #fa-bars.active{
        transform: rotate(90deg);
    }

    .header .container .flex .flex-col2 .header-nav {
        display: none;
        position: absolute;
        left: 0;
        top: 80px; /* top para deixar o menu do mobile a mostra sem ficar em cima do header. Disclaimer importante, se você mexe nesse cara ele fica em cima do header o que não é nem um pouco bacana */
        /* valor padrao 80px */
        width: 100%;
        text-align: center;
        justify-content: none;
    }

    .header .container .flex .flex-col2 .header-nav.active {
        display: block;
    }

    .header .container .flex .flex-col2 .header-nav .nav-ul{
        width: 100%;
        background-color: var(--mainColor);
    }

    .header .container .flex .flex-col2 .header-nav .nav-ul .nav-li {
        display: block;
        margin: 0;
    }

    .header .container .flex .flex-col2 .header-nav .nav-ul .nav-li .nav-btn {
        display: block;
        border-radius: 0px;
        padding: 0px;
    }

    .header .container .flex .flex-col2 .header-nav .nav-ul .nav-li .nav-btn:hover {
        transform: translateY(0px);
    }

    /* O container principal do dropdown */
    .header .container .flex .flex-col2 .header-nav .nav-ul .nav-li .dropdown-container {
        width: 100%;
        border-radius: 0px;
        padding: 0px;
    }

    /* O link que ativa o dropdown */
    .header .container .flex .flex-col2 .header-nav .nav-ul .nav-li .dropdown-container .user-menu {
        width: 100%;
        border-radius: 0px;
        padding: 0px;
        justify-content: center;
    }

    /* O menu que será exibido */
    .dropdown-menu {
        display: none; /* Esconde o menu por padrão */
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: fit-content;
        z-index: 10;
        list-style-type: none;
        border-radius: 0;
    }

    .dropdown-menu li #lastBtn {
        border-radius: 0;
    }

    .dashboard-container{
        margin: 12px;
        max-width: 500px;
        border-radius: 5px;
    }

    .title-details {
        padding: 15px;
    }

    .container-details{
        overflow-y: auto;
        max-height: 500px;
    }

    .main-information{
        flex-basis: 100%;
        padding: 24px;
    }

    .footer img{
        width: 35%;
    }

    .modal-container .modal {
        width: fit-content; /* só isso muda */
    }
}

@media(max-width:500px){

    #fullscreen-container #fullscreen-details {
        width: 90%;
    }

    .title-details {
        padding: 15px;
    }
    
    .text-information {
        font-size: 24px;
    }

    .container-details{
        overflow-y: auto;
        max-height: 500px;
    }

    .main-information{
        padding: 12px;
    }

    .input_form{
        max-width: 150px;
        margin-top: 5px;
        border-radius: 5px;
    }


    .search-group{
        margin-top: 5px;
        display: block;
    }

    .select_form{
        max-width: 150px;
        margin-top: 5px;
        border-radius: 5px;
    }

    .btn_form{
        margin-top: 5px;
        border-radius: 5px;
    }

    .dashboard-container{
        margin: 12px;
        max-width: 300px;
        border-radius: 5px;
    }
}

@media(max-width:325px){
    .dashboard-container{
        margin: 12px;
        max-width: 240px;
        border-radius: 5px;
    }
    
}

@media(max-width:240px){
    .dashboard-container{
        margin: 12px;
        max-width: 150px;
        border-radius: 5px;
    }
}